[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pymatgen = "==2017.7.4"
pymatgen-lammps = "*"
marshmallow = "*"
pyyaml = "*"
pygmo = "*"
pandas = "*"
scikit-learn = "*"
pytest = "*"
lammps-cython = "*"
"mpi4py" = "*"
cython = "*"


[dev-packages]

sphinx = "*"
sphinx-rtd-theme = "*"
ipykernel = "*"
